# Byte-compiled files
__pycache__/
*.py[cod]

# Flask specific
instance/
*.db
*.sqlite3

#modules
Lib/site-packages/

# Logs
*.log

# Configuration files
*.env

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE / Editor specific files
.vscode/
.idea/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db

#model bin
modules/model.bin

Scripts/

pyvenv.cfg

#model folder
models/